Flask
Flask-RESTful
Flask-JWT-Extended
Flask-SQLAlchemy
flask_marshmallow
flask_migrate
flask_caching
flask_cors
marshmallow
marshmallow-sqlalchemy
requests
werkzeug
flask_apscheduler

matplotlib
networkx
ping3
pysnmp
scapy
hnmp
paramiko